{% extends 'news_blog/base.html' %}


{% block content %}
    <h1>News Article View</h1>
   
    <p>Here you can read about the article you have opened</p>
   
    <p>This is a place to share and read stories from other people around the world!</p>
   
    <h3>{{ object.title }}</h3>
   
    <a class="mr-2">By: {{ object.author }}</a>
   
    <small class="text-muted">{{ object.date_posted}}</small>
   
    <p>{{ object.content }}</p>
   
    {% if object.author == user %}
   
        <a class="btn btn-outline-success" href="{% url 'post_update' object.id %}">Update</a>
    
        <a class="btn btn-outline-danger" href="{% url 'post_delete' object.id %}">Delete</a>
    {% endif %}
    
{% endblock content %}