{% extends 'news_blog/base.html' %}


{% block content %}
    <h1>News Login Page</h1>
    <p>This page is made for you to login easily!</p>
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign In</legend>
                <!-- {{ form.as_p }} -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Don't have an account yet?<a href="{% url 'sign_up' %}"> Sign Up Now!</a></small>
        </div>
    </div>
{% endblock content %}