{% extends 'news_blog/base.html' %}
{% load static %}





{% block content %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Post View</h1>
          <hr>

          <h3>{{ object.title }}</h3>

          {% if object.image %}
          <img src="{{ object.image.url }}" alt="Post Image" class="img-fluid">
          {% endif %}
          <div class="d-flex">
            <p class="text-muted w-100 d-flex justify-content-between">
              <span>By: {{ object.author }}</span>
              <span>created on: {{ object.date_posted }}</span>
            </p>
          </div>

          <hr>
          <p>{{ object.content }}</p>

          <div>
            <p>Likes: {{ object.likes.count }}</p>
            {% if not object.author == user %}
            {% if user.is_authenticated %}
            {% if user in object.likes.all %}
            <form action="{% url 'post_unlike' object.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Unlike</button>
            </form>
            {% else %}
            <form action="{% url 'post_like' object.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary">Like</button>
            </form>
            {% endif %}
            {% endif %}
            {% else %}
            <a class="btn btn-outline-success" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'post_delete' object.id %}">Delete</a>
            {% endif %}
            <br>
            <br>
            <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
            <hr>
            <h2>Comments</h2>
            <ul class="list-unstyled">
            {% for comment in comments %}
              <li class="media my-4 d-flex flex-column flex-sm-row">
                <img class="rounded-circle account-img img-radius mb-3 mb-sm-0" src="{{ user.profile.image.url }}"
                  alt="User-Profile-Image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ comment.author }}</h5>
                  <p>{{ comment.text }}</p>
                </div>
              </li>
            </ul>
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %}

            <div>
              <h3>Add a comment</h3>
              <h4>Posting as: {{ user.username }}</h4>
              <form method="post" class="form-group" enctype="multipart/form-data"
                action="{% url 'add_comment_to_post' post.pk %}">
                <div class="d-flex flex-column comment-form">{% csrf_token %}
                  {{ comment_form.as_p}}
                </div>
                <button class="btn btn-success mt-2 mb-4" type="submit">Add comment</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}