{% extends 'news_blog/base.html' %}

{% block content %}
    <h1>New Post Creation Page</h1>
    <p>This is the Page that will help you create your posts!</p>
    <div class="content-section">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>New Post</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Changed your mind?<a href="{% url 'index' %}"> Go Back</a></small>
        </div>
    </div>

{% endblock content %}