{% extends 'news_blog/base.html' %}

{% block content %}

<h1 class="text-center my-4">New Post Creation Page</h1>
<p class="text-center mb-5">This is the Page that will help you create your posts!</p>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-9 col-sm-12">
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend>New Post</legend>
        <div class="d-flex flex-column comment-form">
          {{ form.as_p }}
        </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>
<div class="border-top pt-3">
  <small class="text-muted">Changed your mind?<a href="{% url 'index' %}"> Go Back</a></small>
</div>
{% endblock content %}