{% extends 'news_blog/base.html' %}

{% block content %}
{% load static %}

<div class="card">
    <div class="m-b-25 profile-pic"> <img class="rounded-circle account-img img-radius" id="profile-img"
            src="{{ user.profile.image.url }}" alt="User-Profile-Image">
    </div>
    <div class="profile-info">
    <h2 id="profile-h1">Hello {{user.username|title}}!</h2>
    <hr>
    <p class="title">{{user.email}}</p>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"><a href="{% url 'profile_update' %}">Update
                    Profile</a></button>
        </div>
    </div>
    <hr>
    </form>
    <h2 class="text-center">Your Posts</h2>
    {% if user_posts.has_other_pages %}
    <nav aria-label="Post navigation">
        <ul class="pagination justify-content-center">
            {% if user_posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ user_posts.previous_page_number }}" tabindex="-1">{{ user_posts.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ user_posts.number }}</a></li>
            {% if user_posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ user_posts.next_page_number }}">{{ user_posts.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ user_posts.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div class="row justify-content-center">
        {% for post in user_posts %}
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card">
                <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article_view' post.pk %}">{{ post.title }}</a></h5>
                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                    <p>Number of comments: {{ post.comments.count }}</p>
                    <p>Number of likes: {{ post.likes.count }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="no-post">No posts yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
