{% extends 'news_blog/base.html' %}
{% block content %}
<h1>Hello {{ request.user }}</h1>
<div class="card">
    <div class="m-b-25"> <img class="rounded-circle account-img img-radius" id="profile-img"
            src="{{ user.profile.image.url }}" alt="User-Profile-Image">
    </div>
    <h1 id="profile-h1">{{user.username|title}}</h1>
    <p class="title">{{user.email}}</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- <legend>Join Now!</legend> -->
            {{ u_form.as_p }}
            {{ p_form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"><a href="{% url 'profile_update' %}">Update
                    Profile</a></button>
        </div>
    </form>
    <h2>Your Posts</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for post in user_posts %}
        <div class="col md-4">
            <div class="card">
                <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article_view' post.pk %}">{{ post.title }}</a></h5>
                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                    <p>Number of comments: {{ post.comments.count }}</p>
                    <p>Number of likes: {{ post.likes.count }}</p>
                </div>
            </div>
        </div>

        {% empty %}
        <li>No posts yet.</li>
        {% endfor %}
    </div>
</div>

{% endblock content %}