* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color of the navbar */
nav.navbar-dark {
    background-color: rgb(0, 0, 128);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-toggler {
    color: rgb(255, 215, 0);
}

/* Set the background color of the links when hovered */
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgb(255, 105, 120);
}

/* Set the border color of the toggle button when focused */
.navbar-dark .navbar-toggler:focus {
    box-shadow: 0 0 0 2px rgb(255, 215, 0);
    border-color: rgb(255, 215, 0);
}

.navbar-dark .navbar-brand {
    color: rgb(255, 215, 0);
}

/* Set the color of the navbar brand icon */
.navbar-dark .navbar-brand i {
    color: rgb(255, 215, 0);
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:hover i {
    color: rgb(255, 105, 120);
}

/* nav.navbar-dark {
    background-color: orange;
    
}

.navbar.navbar-dark .navbar-nav .nav-link {
    color: red;
  }

.navbar-dark .navbar-toggler {
    background-color: #FF0000; 
    border-color: #FF0000; 
} */

body {
    background: rgb(250, 250, 255);
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

#profile-img {
    margin-top: 20px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.486);
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.profile-pic {
    padding-bottom: 20px;
}

.profile-info {
    text-align: center;
}

#id_image {
    padding-top: 10px;
}

.no-post {
    text-align: center;
}
/* html, body{
    height: 100%;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ;
}

footer {
    background-color: #000080;
    justify-content: end;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

footer .row {
    justify-content: center;
    margin: auto;
}

.container {
    flex-grow: 1;
}

.view-more-posts-btn {
    display: flex;
    justify-content: center;
    margin: auto;
}

.view-more-posts-btn a {
    width: 80%;
}

.post-creation-section {
    text-align: center;
}

.post-creation-section .row {
    justify-content: center;
}

.nav-link {
    color: rgb(255, 215, 0);
}

.nav-link:hover {
    color: rgb(255, 215, 0);
    background-color: rgb(255, 105, 120);
}

/* textarea {
    max-width: -webkit-fill-available;
  } */

  .comment-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.comment-form p {
    display: flex;
    flex-direction: column;
    max-width: 60%; 
    margin-bottom: 1rem; 
  }
  
  @media screen and (max-width: 992px) {
    .comment-form p {
      max-width: 70%;
    }
  }

.comment-form p textarea {
    max-width: -webkit-fill-available;
} */

/* .comment-form p {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .comment-form p {
        max-width: 60%;
    }
}

@media (min-width: 768px) {
    .comment-form p {
        max-width: 70%;
    }
}

/* @media (max-width: 991.98px) {
    .creation-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  } */
