body {
    background: rgb(103, 237, 192);
}

/* h1 {
    color: rgba(4, 4, 18, 0.4);
} */

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

#profile-img{
    margin-top: 20px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.486);
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
