nav {
    background: rgb(0, 0, 128);
}

body {
    background: rgb(250, 250, 255);
}



.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

#profile-img{
    margin-top: 20px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.486);
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
